<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioEditX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7E36C461C5F4A9C0051F07E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7E36C5F1C5F4A9D0051F07E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7E36C6A1C5F4A9D0051F07E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
